@use 'base'

.App
    width: 100%
    height: 100%
    background-color: #d3e1fb

header
    width: 100%
    height: 2.5rem
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    background-color: #a3b3d0
    gap: 0.5rem

.Header__form
    display: flex
    flex-direction: row
    gap: 0.5rem

.Header__form-input
    -webkit-appearance: none  
    margin: 0
    padding: 0px 5px
    width: 100px
    border: none
    border-radius: 2px

.Header__button
    -webkit-appearance: none
    margin: 0
    padding: 0
    padding: 3px 8px
    border: none
    border-radius: 3px
    font-size: 16px
    font-weight: 400
    background-color: #536e7c
    color: white

.Header__location
    background-color: #60886d


main
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100%
    overflow: auto
.main-reduced    
    height: calc(100% - 2.5rem - base.$map-height - 1px)
.main-complete    
    height: calc(100% - 2.5rem)


.map-button
    position: absolute
    left: 0
    -webkit-appearance: none
    background: #c7d0fb
    color: black
    border: 1px solid #7391c9
    font-size: 12px
    padding: 0.4rem
    margin: 0
    border-top-right-radius: 6px
.map-show
    bottom: base.$map-height
    animation: show 0.4s linear
@keyframes show
    0% 
        bottom: 0rem
    100%
        bottom: base.$map-height
.map-hide
    bottom: 0
    animation: hide 0.15s linear
@keyframes hide
    0% 
        bottom: base.$map-height
    100%
        bottom: 0rem


footer
    position: absolute
    animation: showmap 0.4s linear
    bottom: 0
    border-top: 1px solid #7391c9
    width: 100%
    height: base.$map-height
@keyframes showmap
    0% 
        bottom: - base.$map-height
    100%
        bottom: 0rem


.App__title   
    font-size: 18px
    padding: 1rem 0 1rem 0
    margin: 0

